<div style="display: flex; margin: 20px">
  <form (submit)="loginUser($event)" class="example-form" style="margin-left: auto; margin-right: auto">
    <h2>Login</h2>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Username</mat-label>
      <input [formField]="loginForm.username" matInput placeholder="Enter Username" />
      <mat-error>Username is required</mat-error>
    </mat-form-field>

    <br />
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Password</mat-label>
      <input [formField]="loginForm.password" matInput placeholder="Enter Password" />
      <mat-error>Password is required</mat-error>
    </mat-form-field>
    <br />
    <strong>Hint: Enter any username/password to login</strong>
    <br />
    <br />
    <button color="primary" matButton="filled" type="submit">Login</button>
  </form>
</div>
