name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest']
        node: ['latest']
    steps:
      - uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: pnpm i
      - name: Lint
        run: pnpm lint
      - name: Format check
        run: pnpm format:check
      - name: Build
        run: pnpm build --configuration=production && pnpm build:ngx-cookie-service-ssr --configuration=production
      - name: Test
        run: pnpm test
        env:
          CI: true
