name: Publish ngx-cookie-service-ssr to NPM
on:
  push:
    ### Publish on new tag release
    tags:
      - v*
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2
        with:
          node-version: 18
      - name: Install NPM Dependencies
        run: npm install --legacy-peer-deps
      - name: Build project
        run: npm run build:ngx-cookie-service-ssr
      - name: Publish to NPM registry
        uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: dist/ngx-cookie-service-ssr/package.json
          access: public
