name: Publish ngx-cookie-service-ssr to NPM
on:
  push:
    ### Publish on new tag release
    tags:
      - v*
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: Install Dependencies
        run: pnpm i --no-frozen-lockfile
      - name: Build project
        run: pnpm build:ngx-cookie-service-ssr
      - name: Publish to NPM registry
        uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: dist/ngx-cookie-service-ssr/package.json
          access: public
